 div.calendar {
    margin: 0;
    padding: 0;
  }
  
  div.calendar .table {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  div.calendar .table th,
  div.calendar .table td {
    padding: 30px 2px;
    text-align: center;
  }
  div.calendar .table td {
    padding-top: 0;
    padding-left: 10px;
    text-align: left;
  }
  
  div.calendar .table tr th,
  div.calendar .table tr td {
    background-color: #ffffff;
  }
  
  div.calendar .table tr.calendar-month-header th {
    background-color: #fafafa;
  }
  
  div.calendar .table tr.calendar-month-header th span {
    cursor: pointer;
    display: inline-block;
    padding-bottom: 10px;
  }
  
  div.calendar .table tr.calendar-dow-header th {
    background-color: #f0f0f0;
  }
  
  div.calendar .table tr:last-child {
    border-bottom: 1px solid #dddddd;
  }
  
  div.calendar .table tr.calendar-month-header th {
    padding-top: 12px;
    padding-bottom: 4px;
  }
  
  div.calendar .table-bordered tr.calendar-month-header th {
    border-left: 0;
    border-right: 0;
  }
  
  div.calendar .table-bordered tr.calendar-month-header th:first-child {
    border-left: 1px solid #dddddd;
  }
  
  div.calendar div.calendar-month-navigation {
    cursor: pointer;
    margin: 0;
    padding: 0;
    padding-top: 5px;
  }
  
  div.calendar tr.calendar-dow-header th,
  div.calendar tr.calendar-dow td {
    width: 14%;
  }
  
  div.calendar .table tr td div.day {
    margin: 0;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  
  /* actions and events */
  div.calendar .table tr td.event div.day,
  div.calendar ul.legend li.event {
    background-color: #fff0c3;
  }
  
  div.calendar .table tr td.dow-clickable,
  div.calendar .table tr td.event-clickable {
    cursor: pointer;
  }

  div.calendar .badge-today,
  div.calendar span.badge-today {
    background-color: red;
    color: #ffffff;
    text-shadow: none;
    color: white;
    border-radius: 100%;
    padding: 5px 5px 8px 4px;
    position: absolute;
    width: 23px;
    height: 22px;
  }
  

  @media (max-width: 979px) {
    div.calendar .table td {
        padding-top: 0;
        padding-left: 5px;
        text-align: left;
      }
  }
  